/*
    Justin Johnson
    Section 003
    4/19/2023*/

body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight:normal;
}

a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
a:visited{
    color:#c2c2c2;
}

h1{
    font-size: 40px;
    text-align: center;
}
li{
    font-style: normal;
    font-size:20px;
}

.background{
    background-color: #c2c2c2;
}

.section1{
    color:navy;
    font-size: 25px;
    font-weight:normal;
    font-style: italic;
}

.section2{
    color:navy;
    font-size:30px;
    font-weight:bold;
    text-align: center;
}

.header{
    top:5px;
    right:5px;
    left:5px;
    margin:auto;
    text-align: right;
    padding:10px;
    background-color: navy;
    color: black;
}

.footer{
    bottom:5px;
    right:5px;
    left:5px;
    margin:auto;
    text-align: left;
    padding:10px;
    background-color: navy;
    color: white;
}
